@import "../components/_fonts";

//colors:
$color-site-container: #ffffff;
$color-button-text: #ffffff;
$color-nav-link: #2f281e;
$color-main-text: #2f281e;
$color-button-bg: #ff9900;
$color-button-sign-in-text:#173a56;
$color-button-border: #bcd0e5;
$color-header-title: #2f281e;
$color-header-text: #544837;
$color-main-p: #544837;
$icon-card-purpl: #7752be;
$icon-card-red: #f03e3d;
$icon-card-blue: #4dadf7;
$color-bg-slider-circle: #efefef;
$color-footer-line:  #f2f2f2;
$color-footer-button-tel: #bcd0e5;

//fonts
$font-poppins-regular: "Poppins";
