@import "_fonts";

//colors:
$color-site-container: #ffffff;
$color-nav-link: #2f281e;
$color-button-org: #ff9900;
$color-header-title: #2f281e;
$color-header-text: #544837;
$icon-card-purpl: #7752be;
$icon-card-red: #f03e3d;
$icon-card-blue: #4dadf7;

//fonts
$font-poppins-regular: "Poppins";
