.container {
  width: 100%;
  margin: 0 auto;
}

.active {
  color: $color-button-bg;
}

.sub-title {
  display: block;

  @include fonts(500, 16px, 24px, $color-design-text);
}

.button-filled-small {
  border: none;
  padding: 11px 25px 11px 22px;

  @include button($color-button-bg);
  @include fonts(600, 16px, 24px, $color-site-container);
  @include tablet-portrait-fonts;

  @include mobile-landscape {
    padding: 7px 10px;
  }
}

.button-filled-large:hover {
  opacity: 0.7;
}

.button-filled-medium:hover {
  opacity: 0.7;
}

.button-filled-small:hover {
  opacity: 0.7;
}

.button-outline-small {
  border: 1px solid $color-button-border;
  padding: 12px 22px 10px 22px;

  @include button($color-site-container);
  @include fonts(600, 16px, 24px, $color-button-sign-in-text);
  @include tablet-portrait-fonts;

  @include mobile-landscape {
    padding: 7px 10px;
  }
}

.button-outline-small:hover {
  background-color: $color-button-border;
  text-shadow: $color-nav-link 0 0 1px;
}

.button-filled-medium {
  border: none;
  padding: 8px 16px;

  @include button($color-button-bg);
  @include fonts(bold, 16px, 24px, $color-site-container);
  @include tablet-portrait-fonts;
}


.button-filled-large {
  border: none;
  padding: 17px 44px 11px 37px;

  @include button($color-button-bg);
  @include fonts(bold, 16px, 24px, $color-site-container);
  @include tablet-portrait-fonts;

  @include mobile-landscape {
    padding: 10px 15px;
  }
}

.logo {
  background-image: url("../images/nav-logo.png");
  height: 29px;
  width: 143px;
  padding-left: 40px;

  @include bg-rules;
}

@include tablet-portrait {
  .img-logo {
    max-width: 70px;
  }
}

a:hover {
 text-shadow: $color-nav-link 0 0 1px;
}
