@import "../helpers/_variables";
@import "../helpers/_mixins";
@import "../helpers/_mixin-media";

.container {
  width: 100%;
  margin: 0 auto;
}

.active {
  color: $color-button-bg;
  
  @include _420 {
    margin: 0 auto;
  }
}

.active-input {
  background-color: $color-button-bg;
}

.sub-title {
  display: block;

  @include fonts(500, 16px, 24px, $color-header-text);
}

.button-filled-small {
  border: none;
  padding: 11px 25px 11px 22px;

  @include button($color-button-bg);
  @include fonts(600, 16px, 24px, $color-site-container);
  @include _768 {
    font-size: 10px;
    line-height: 10px;
  }

  @include _576 {
    padding: 7px 10px;
  }
}

.button-outline-small {
  border: 1px solid $color-button-border;
  padding: 12px 22px 10px 22px;

  @include button($color-site-container);
  @include fonts(600, 16px, 24px, $color-button-sign-in-text);
  @include _768 {
    font-size: 10px;
    line-height: 10px;
  }

  @include _576 {
    padding: 7px 10px;
  }
}

.button-filled-medium {
  border: none;
  padding: 8px 16px;

  @include button($color-button-bg);
  @include fonts(bold, 16px, 24px, $color-site-container);
  @include _768 {
    font-size: 10px;
    line-height: 10px;
  }
}

.button-filled-large {
  border: none;
  padding: 17px 44px 11px 37px;

  @include button($color-button-bg);
  @include fonts(bold, 16px, 24px, $color-site-container);
  @include _768 {
    font-size: 10px;
    line-height: 10px;
  }

  @include _576 {
    padding: 10px 15px;
  }
}

.logo {
  background-image: url("../images/nav-logo.png");
  height: 29px;
  width: 143px;
  padding-left: 40px;

  @include bg-rules;
}

@include _768 {
  .img-logo {
    max-width: 70px;
  }
}
