@import "./common-styles";
@import "../helpers/variables";
@import "../helpers/mixins";

.effortless-validation {
  .container {
    background-image: url("../images/effortless-img-first.png");
    background-position: top right;
    margin-bottom: 80px;

    @include bg-rules;
    
    @include _960 {
      margin-bottom: 40px;
    }

    @include _768 {
      background-size: 50% 100%;
    }

    @include _576 {
      background-size: 50%;
    }
  }

  &-wrapper {
    max-width: 475px;
    padding-top: 30px;

    .h2 {
      padding-bottom: 5px;
      @include _420 {
        padding-right: 45%;
      }
    }

    .text-small {
      padding-top: 20px;
      padding-bottom: 25px;

      @include _768 {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

    @include _768 {
      max-width: 375px;
    }
    
    @include _576 {
      max-width: 60%;
    }

    @include _420 {
      max-width: 90%;
    }

    .text-small:first-of-type {
      @include _420 {
        padding-right: 45%;
        text-align: initial;
      }
    }
  }
}
