@import "../helpers/_variables";
@import "../helpers/_mixins";
@import "../helpers/_mixin-media";

.feature {
  background-image: url("../images/bg-feature.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 90px;
  margin-bottom: 120px;

  @include _960 {
    margin-bottom: 20px;
  }

  &-title {
    text-align: center;
    max-width: 520px;
    margin: 0 auto 54px;

    @include _960 {
      margin: 0 auto 24px;
    }
    @include _768 {
      margin-bottom: 55px;
    }
  }

  &-cards {
    max-width: 1095px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;

    @include _960 {
      max-width: 800px;
      margin: 20px auto;
      justify-content: space-around;
    }
  }

  &-card {
    flex-basis: 23%;
    padding-left: 20px;

    @include _960 {
      flex-basis: 24%;
      padding-left: 0;
    }
    @include _768 {
      flex-basis: 22%;
    }
  }

  &-button {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }
}

.icon-card-first::before {
  @include card-before(url("../images/icon-card-first.svg"), $icon-card-purpl);
}

.icon-card-second::before {
  @include card-before(url("../images/icon-card-second.svg"), $color-button-bg);
}

.icon-card-three::before {
  @include card-before(url("../images/icon-card-three.svg"), $icon-card-red);
}

.icon-card-four::before {
  @include card-before(url("../images/icon-card-four.svg"), $icon-card-blue);
}

.icon-card-first {
  @include icon-for-cards($icon-card-purpl);
}

.icon-card-second {
  @include icon-for-cards($color-button-bg);
}

.icon-card-three {
  @include icon-for-cards($icon-card-red);
}

.icon-card-four {
  @include icon-for-cards($icon-card-blue);
}

.card-title {
  padding-top: 30px;
  padding-bottom: 15px;

  @include _960 {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
