.feature {
  background-image: url("../images/bg-feature.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 90px;
  margin-bottom: 120px;

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile-landscape {
    margin-bottom: 5px;
    padding-bottom: 10px;
  }

  &-title {
    text-align: center;
    padding: 0 300px;
    margin: 0 auto 54px;

    @include tablet {
      margin: 0 auto 24px;
      padding: 0;
    }

    @include tablet-portrait {
      margin-bottom: 55px;
    }

    @include mobile-landscape {
      margin-bottom: 5px;
    }
  }

  &-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;

    @include tablet {
      margin: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mobile-landscape {
      margin-bottom: 0;
    }
  }

  &-card {
    flex-basis: 23%;
    padding-left: 20px;

    @include tablet {
      flex-basis: 40%;
      margin-bottom: 30px;
    }
    
    @include mobile-landscape {
      flex-basis: 70%;
      position: relative;
    }
  }

  &-button {
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
  }

  .text-small {
    @include mobile-landscape {
      padding-left: 30px;
    }
  }
}

.icon-card-first::before {
  @include card-before(url("../images/icon-card-first.svg"), $icon-card-purpl);
}

.icon-card-second::before {
  @include card-before(url("../images/icon-card-second.svg"), $color-button-bg);
}

.icon-card-three::before {
  @include card-before(url("../images/icon-card-three.svg"), $icon-card-red);
}

.icon-card-four::before {
  @include card-before(url("../images/icon-card-four.svg"), $icon-card-blue);
}

.icon-card-first {
  @include icon-for-cards($icon-card-purpl);
  @include position;
}

.icon-card-second {
  @include icon-for-cards($color-button-bg);
  @include position;
}

.icon-card-three {
  @include icon-for-cards($icon-card-red);
  @include position;
}

.icon-card-four {
  @include icon-for-cards($icon-card-blue);
  @include position;
}

.card-title {
  padding-top: 30px;
  padding-bottom: 15px;

  @include tablet {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  @include mobile-landscape {
    padding-left: 30px;
    padding-top: 0;
  }
}
