@font-face {
  font-family: "Poppins";
  src: url("../../fonts/poppins/Poppins-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenir/Avenir-Black.ttf") format("opentype");
}
