@import "../helpers/_variables";
@import "../helpers/_mixins";

.footer {
  margin-bottom: 95px;

  .container {
    max-width: 1109px;
    border-top: 1px solid $color-footer-line;
    display: flex;
    justify-content: space-between;
    padding-top: 105px;
  }

  & .button-outline-small {
    padding-right: 90px;
    margin-bottom: 20px;

    @include fonts(900, 16px, 28px, $color-footer-button-tel);
  }

  &-form-wrapper {
    max-width: 325px;
  }

  &-nav {
    margin-left: 80px;
  }

  &-nav-title {
    padding-bottom: 33px;
  }

  &-item {
    padding-bottom: 15px;
  }

  & .logo {
    margin-right: 30px;
  }
}
