@import "../helpers/_variables";
@import "../helpers/_mixins";
@import "../helpers/_mixin-media";
@import "./_common-styles";

.header {
  .container {
    max-width: 1126px;
    background-image: url("../images/header-img.png");
    background-position: top right;
    margin-bottom: 110px;

    @include bg-rules;
    @include _960 {
      max-width: 900px;
      margin-bottom: 70px;
    }
    @include _768 {
      max-width: 700px;
    }
    @include _576 {
      max-width: 90%;
      background-size: 30%;
      background-position-y: 80%;
      background-position-x: 90%;
    }
    @include _420 {
      background-size: 30%;
      background-position-y: 50%;
    }
  }

  &-wrapper-text {
    max-width: 518px;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 55px;
    padding-bottom: 82px;

    @include _960 {
      padding-top: 55px;
      padding-bottom: 0;
    }
    
    @include _768 {
      padding-right: 10px;
      padding-top: 20px;
    }
  }

  &-title {
    letter-spacing: 0.8px;
    padding-bottom: 30px;
  }

  &-text {
    padding-bottom: 55px;

    @include _768 {
      padding-bottom: 10px;
    }

    @include _576 {
      padding-bottom: 20px;
      max-width: 350px;
    }

    @include _576 {
      max-width: 60%;
      text-align: justify;
    }

    @include _420 {
      line-height: 15px;
      font-size: 10px;
    }
  }
}

.button-watch {
  background-image: url("../images/buttno-triangle-org.svg");
  color: $color-button-bg;
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  margin-left: 26px;
  padding-left: 28px;
  letter-spacing: 0.7px;

  @include bg-rules;
  @include _768 {
    font-size: 10px;
    line-height: 10px;
    padding-left: 15px;
  }
}
