@import "../helpers/_variables";
@import "../helpers/_mixins";
@import "./_common-styles";

.header {
  .container {
    max-width: 1126px;
    background-image: url("../images/header-img.png");
    background-position: top right;
    margin-bottom: 110px;

    @include bg-rules;
  }

  &-wrapper-text {
    max-width: 518px;
    padding-left: 10px;
    padding-top: 100px;
    padding-right: 55px;
    padding-bottom: 82px;
  }

  &-title {
    letter-spacing: 0.8px;
    padding-bottom: 30px;
  }

  &-text {
    padding-bottom: 55px;
  }
}

.button-watch {
  background-image: url("../images/buttno-triangle-org.svg");
  color: $color-button-bg;
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  margin-left: 26px;
  padding-left: 28px;
  letter-spacing: 0.7px;

  @include bg-rules;
}
