.marketing-strategies {
  .container {
    margin-bottom: 100px;

    @include tablet {
      margin-bottom: 10px;
      padding: 10px;
    }

    @include tablet-portrait {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .text-small {
    padding-top: 7px;
    padding-bottom: 55px;
  }

  .h2,
  .text-small {
    @include mobile-landscape {
      padding-bottom: 5px;
      text-align: center;
    }
  }
}

.slider-list {
  display: flex;
  justify-content: space-between;

  @include tablet-portrait {
    justify-content: center;
  }
}

.slider-item {
  overflow: hidden;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  @include tablet {
    flex-basis: 30%;
  }

  @include tablet-portrait {
    margin-right: 20px;
  }

  .text-small {
    padding-top: 20px;
    padding-bottom: 10px;

    @include tablet {
      padding-top: 5px;
      padding-bottom: 1px;
    }

    @include tablet-portrait {
      font-size: 10px;
      line-height: 15px;
    }
  }
}

.slider-item:first-child {
  @include tablet-portrait {
    display: none;
  }
}

.slider-item:last-child {
  @include mobile-landscape {
    display: none;
  }
}

.vertical-line {
  display: inline-block;
  width: 1px;
  height: 18px;
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: text-top;
  background-color: $color-main-text;
}

.slider-dots {
  margin-top: 80px;
  text-align: center;

  @include tablet {
    margin-top: 0;
  }

  @include mobile-landscape {
    display: none;
  }
}

.slider-dots_item:hover {
  background-color: $color-button-bg;
}

.slider-arrows {
  display: none;
}

.slider-wrapper {
  overflow: hidden;
  text-align: center;
}

.img-slider {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.slider-arrow-left,
.slider-arrow-right {
  font-size: 25px;
  display: inline-block;
  margin-top: 15px;
  padding: 0 20px;
  color: $color-nav-link;
  border: solid 1px black;
  border-radius: 8px;
}

.slider-arrow-not-get {
  background-color: $color-bg-burger;
}

.slider-arrow-right:hover {
  cursor: pointer;
  background-color: $color-bg-slider-circle;
}

.slider-arrow-left:hover {
  cursor: pointer;
  background-color: $color-bg-slider-circle;
}

.dot-slider {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: $color-bg-slider-circle;
}

.active-dot {
  background-color: $color-bg-burger;
}
