@import "./common-styles";
@import "../helpers/variables";
@import "../helpers/mixins";
@import "../helpers/_mixin-media";

.marketing-strategies {
  .container {
    margin-bottom: 100px;

    @include tablet {
      padding: 10px;
      margin-bottom: 10px;
    }

    @include tablet-portrait {
      margin-bottom: 10px;
      text-align: center;
    }
  }

  .text-small {
    padding-top: 7px;
    padding-bottom: 55px;
  }

  .h2,
  .text-small {
    @include mobile-landscape {
      text-align: center;
      padding-bottom: 5px;
    }
  }
}

.slider-list {
  display: flex;
  justify-content: space-between;

  @include tablet-portrait {
    justify-content: center;
  }
}

.slider-item {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;

  .text-small {
    padding-top: 20px;
    padding-bottom: 10px;

    @include tablet {
      padding-top: 5px;
      padding-bottom: 1px;
    }

    @include tablet-portrait {
      line-height: 15px;
      font-size: 10px;
    }
  }

  @include tablet {
    flex-basis: 30%;
  }

  @include tablet-portrait {
    margin-right: 20px;
  }
}

.slider-item:first-child {
  @include tablet-portrait {
    display: none;
  }
}

.slider-item:last-child {
  @include mobile-landscape {
    display: none;
  }
}

.vertical-line {
  width: 1px;
  background-color: $color-main-text;
  display: inline-block;
  height: 18px;
  vertical-align: text-top;
  margin-left: 10px;
  margin-right: 10px;
}

.slider-dots {
  text-align: center;
  margin-top: 80px;

  @include tablet {
    margin-top: 0;
  }

  @include mobile-landscape {
    display: none;
  }
}

.slider-dots_item {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 10px;
  background-color: $color-bg-slider-circle;
  border-radius: 50%;
  display: inline-block;
  border: none;
  position: relative;
}

.slider-dots_item:hover {
  background-color: $color-button-bg;
}

.slider-arrows {
  display: none;
}
