@import "../helpers/_variables";
@import "../helpers/_mixins";
@import "./_common-styles";

.navigation {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
  }

  .navigation-logo {
    margin-right: 311px;
  }
}

.navigaton-list {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 27px;
}

.navigation-link {
  font-size: 14px;
  line-height: 28px;
  color: $color-nav-link;
}

.navigation-buttons {
  .button-outline-small {
    margin-right: 14px;
  }
}
