@import "../helpers/_variables";
@import "../helpers/_mixins";
@import "../helpers/_mixin-media";
@import "./_common-styles";

.navigation {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;

    @include _960 {
      justify-content: space-around;
      margin-bottom: 50px;
    }
  }

  & .logo {
    margin-right: 311px;

    @include _960 {
      margin-right: 0;
    }

    @include _768 {
      padding-left: 30px;
      max-width: 70px;
      max-height: 20px;
    }
  }

  &-list {
    display: flex;
  }

  &-link {
    font-size: 14px;
    line-height: 28px;
    color: $color-nav-link;
  }

  &-buttons {
    .button-outline-small {
      margin-right: 14px;
    }
  }

  &-item:not(:last-child) {
    margin-right: 27px;

    @include _768 {
      margin-right: 10px;
    }  
  }

}
