@import "./common-styles";
@import "../helpers/variables";
@import "../helpers/mixins";

.product-managers {
  .container {
    max-width: 1121px;
    background-image: url("../../images/product-manager-bg.png");
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 110px;
    padding-top: 55px;
    padding-bottom: 30px;

    @include bg-rules;
  }

  &-wrapper {
    max-width: 476px;

    .text-small {
      padding-top: 27px;
      padding-bottom: 25px;
    }
  }

  &-item::before {
    content: "";
    background-image: url("../images/effortless-icon.svg");
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);

    @include bg-rules;
  }

  &-item {
    align-items: center;
    padding-right: 60px;
    position: relative;

    .text-small {
      padding-left: 60px;
      padding-top: 10px;
      padding-bottom: 20px;
    }
  }
}