@import "./helpers/variables";
@import "./helpers/mixins";

.navigation {
  // position: absolute;
  width: 100%;
  height: 78px;
  left: 0px;
  top: 20px;
}

.navigation-logo {
  background-image: url(../images/nav-logo.png);
  @include bg-rules;
  
}


.navigation {
  .container {
    display: flex;
  }
}
  
