@import "./helpers/variables";
@import "./helpers/mixins";

.navigation {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13px;
  }
}

.navigation-logo {
  background-image: url("../images/nav-logo.png");
  height: 29px;
  width: 143px;
  padding-left: 40px;
  margin-right: 311px;

  @include bg-rules;
}

.navigaton-list {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 27px;
}

.navigation-link {
  font-size: 14px;
  line-height: 28px;
  color: $color-nav-link;
}

.navigation-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @include button;
}

.sign-in {
  background-color: $color-site-container;
  border: 1px solid #bcd0e5;
  margin-right: 14px;
  padding: 12px 22px 10px 22px;
}

.sign-up {
  background-color: $color-button-org;
  border: none;
  padding: 11px 25px 11px 22px;
}
